@model DBCurseWork.Models.Department

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Ты уверен что хочешь удалить данную кафедру?</h3>
<div>
    <h4>Кафедра</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Наименование кафедры
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Бюджет
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            Дата открытия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Заведующий кафедрой
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrator.FirstMidName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
